{% load static %}
{% static 'img' as baseUrl %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<title>Blog</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content=" 2nay">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'main/blog_bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'main/css/blog_styles.css' %}">
</head>
<body>
<div class="super_container">

{% include 'main/header.html' %}
<div class="menu trans_500">
<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
<div class="menu_close_container"><div class="menu_close"></div></div>
<div class="logo menu_logo"><a href="#"><img src="{% static 'main/images/2-300.png' %}" alt="">nay</a></div>
<ul>
<li class="main_nav_item"><a href="{% url 'home' %}">home</a></li>
<li class="main_nav_item"><a href="{% url 'about' %}">about us</a></li>
<li class="main_nav_item"><a href="{% url 'offers' %}">rooms</a></li>
<li class="main_nav_item"><a href="{% url 'blog' %}">news</a></li>
<li class="main_nav_item"><a href="{% url 'contact' %}">contact</a></li>
</ul>
</div>
</div>

<div class="home">
<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'main/images/blog_background.jpg' %}"></div>
<div class="home_content">
<div class="home_title">the blog</div>
</div>
</div>

<div class="blog">
<div class="container">
<div class="row">

<div class="col-lg-8">
<div class="blog_post_container">

<div class="blog_post">
<div class="blog_post_image">
<img src="{% static 'main/images/xblog_1.jpg.pagespeed.ic.y_eoFj2Yjz.jpg' %}" alt="https://unsplash.com/@anniespratt">
<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
<div class="blog_post_day">01</div>
<div class="blog_post_month">Dec, 2017</div>
</div>
</div>
<div class="blog_post_meta">
<ul>
<li class="blog_post_meta_item"><a href="">by Lore Papp</a></li>
<li class="blog_post_meta_item"><a href="">Uncategorized</a></li>
<li class="blog_post_meta_item"><a href="">3 Comments</a></li>
</ul>
</div>
<div class="blog_post_title"><a href="#">Try these new dream destinations</a></div>
<div class="blog_post_text">
<p>Aenean in lacus ligula. Phasellus euismod gravida eros. Aenean nec ipsum aliquet, pharetra magna id, interdum sapien. Etiam id lorem eu nisl pellentesque semper. Nullam tincidunt metus placerat, suscipit leo ut, tempus nulla. Fusce at eleifend tellus. Ut eleifend dui nunc, non fermentum qua.</p>
</div>
<div class="blog_post_link"><a href="#">read more</a></div>
</div>

<div class="blog_post">
<div class="blog_post_image">
<img src="{% static 'main/images/xblog_2.jpg.pagespeed.ic.I5093gDTQv.jpg' %}" alt="https://unsplash.com/@tschax">
<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
<div class="blog_post_day">01</div>
<div class="blog_post_month">Dec, 2017</div>
</div>
</div>
<div class="blog_post_meta">
<ul>
<li class="blog_post_meta_item"><a href="">by Lore Papp</a></li>
<li class="blog_post_meta_item"><a href="">Uncategorized</a></li>
<li class="blog_post_meta_item"><a href="">3 Comments</a></li>
</ul>
</div>
<div class="blog_post_title"><a href="#">Try these new dream destinations</a></div>
<div class="blog_post_text">
<p>Aenean in lacus ligula. Phasellus euismod gravida eros. Aenean nec ipsum aliquet, pharetra magna id, interdum sapien. Etiam id lorem eu nisl pellentesque semper. Nullam tincidunt metus placerat, suscipit leo ut, tempus nulla. Fusce at eleifend tellus. Ut eleifend dui nunc, non fermentum qua.</p>
</div>
<div class="blog_post_link"><a href="#">read more</a></div>
</div>

<div class="blog_post">
<div class="blog_post_image">
<img src="{% static 'main/images/blog_3.jpg" alt="https://unsplash.com/@stilclassics' %}">
<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
<div class="blog_post_day">01</div>
<div class="blog_post_month">Dec, 2017</div>
</div>
</div>
<div class="blog_post_meta">
<ul>
<li class="blog_post_meta_item"><a href="">by Lore Papp</a></li>
<li class="blog_post_meta_item"><a href="">Uncategorized</a></li>
<li class="blog_post_meta_item"><a href="">3 Comments</a></li>
</ul>
</div>
<div class="blog_post_title"><a href="#">Try these new dream destinations</a></div>
<div class="blog_post_text">
<p>Aenean in lacus ligula. Phasellus euismod gravida eros. Aenean nec ipsum aliquet, pharetra magna id, interdum sapien. Etiam id lorem eu nisl pellentesque semper. Nullam tincidunt metus placerat, suscipit leo ut, tempus nulla. Fusce at eleifend tellus. Ut eleifend dui nunc, non fermentum qua.</p>
</div>
<div class="blog_post_link"><a href="#">read more</a></div>
</div>
</div>

</div>

<div class="col-lg-4 sidebar_col">


<div class="sidebar_archives">
<div class="sidebar_title">Archives</div>
<div class="sidebar_list">
<ul>
<li><a href="#">March 2017</a></li>
<li><a href="#">April 2017</a></li>
<li><a href="#">May 2017</a></li>
</ul>
</div>
</div>

<div class="sidebar_categories">
<div class="sidebar_title">Categories</div>
<div class="sidebar_list">
<ul>
<li><a href="#">Travel</a></li>
<li><a href="#">Exotic Destinations</a></li>
<li><a href="#">City Breaks</a></li>
<li><a href="#">Travel Tips</a></li>
<li><a href="#">Lifestyle & Travel</a></li>
<li><a href="#">City Breaks</a></li>
<li><a href="#">Uncategorized</a></li>
</ul>
</div>
</div>

<div class="sidebar_latest_posts">
<div class="sidebar_title">Latest Posts</div>
<div class="latest_posts_container">
<ul>

<li class="latest_post clearfix">
<div class="latest_post_image">
<a href="#"><img src="{% static 'main/images/latest_1.jpg' %}" alt=""></a>
</div>
<div class="latest_post_content">
<div class="latest_post_title trans_200"><a href="#">A simple blog post</a></div>
<div class="latest_post_meta">
<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
<div class="latest_post_date trans_200"><a href="#">Aug 25, 2016</a></div>
</div>
</div>
</li>

<li class="latest_post clearfix">
<div class="latest_post_image">
<a href="#"><img src="{% static 'main/images/latest_2.jpg' %}" alt=""></a>
</div>
<div class="latest_post_content">
<div class="latest_post_title trans_200"><a href="#">Dream destination for you</a></div>
<div class="latest_post_meta">
<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
<div class="latest_post_date trans_200"><a href="#">Aug 25, 2016</a></div>
</div>
</div>
</li>

<li class="latest_post clearfix">
<div class="latest_post_image">
<a href="#"><img src="{% static 'main/images/latest_3.jpg' %}" alt=""></a>
</div>
<div class="latest_post_content">
<div class="latest_post_title trans_200"><a href="#">Tips to travel light</a></div>
<div class="latest_post_meta">
<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
<div class="latest_post_date trans_200"><a href="#">Aug 25, 2016</a></div>
</div>
</div>
</li>

<li class="latest_post clearfix">
<div class="latest_post_image">
<a href="#"><img src="{% static 'main/images/latest_4.jpg' %}" alt=""></a>
</div>
<div class="latest_post_content">
<div class="latest_post_title trans_200"><a href="#">How to pick your vacation</a></div>
<div class="latest_post_meta">
<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
<div class="latest_post_date trans_200"><a href="#">Aug 25, 2016</a></div>
</div>
</div>
</li>
</ul>
</div>
</div>

<div class="sidebar_gallery">
<div class="sidebar_title">Instagram</div>
<div class="gallery_container">
<ul class="gallery_items d-flex flex-row align-items-start justify-content-between flex-wrap">
<li class="gallery_item">
<a class="colorbox" href="../../photo-1473625247510-8ceb1760943f.jpeg?ixlib=rb-0.3.5&s=c0996cd16eda8c6f54c398de02d03cd3&auto=format&fit=crop&w=720&q=80">
<img src="{% static 'main/images/gallery_1.jpg' %}" alt="https://unsplash.com/@mantashesthaven">
</a>
</li>
<li class="gallery_item">
<a class="colorbox" href="../../photo-1495162048225-6b3b37b8a69e.jpeg?ixlib=rb-0.3.5&s=861dd3c7b9d3e735d7fd7cbb1eefed64&auto=format&fit=crop&w=720&q=80">
<img src="{% static 'main/images/gallery_2.jpg' %}" alt="https://unsplash.com/@kensuarez">
</a>
</li>
<li class="gallery_item">
<a class="colorbox" href="../../photo-1502646275263-04be86afa386.jpeg?ixlib=rb-0.3.5&s=682a41d7d9bf6e3feabc73a5fdd61dd2&auto=format&fit=crop&w=720&q=80">
<img src="{% static 'main/images/gallery_3.jpg' %}" alt="https://unsplash.com/@jakobowens1">
</a>
</li>
<li class="gallery_item">
<a class="colorbox" href="../../photo-1484820301304-0b43512779dc.jpeg?ixlib=rb-0.3.5&s=7a3393e9f507fb4718c36337a8014c52&auto=format&fit=crop&w=720&q=80">
<img src="{% static 'main/images/gallery_4.jpg' %}" alt="https://unsplash.com/@seefromthesky">
</a>
</li>
<li class="gallery_item">
<a class="colorbox" href="../../photo-1490380169520-0a4b88d52565.jpeg?ixlib=rb-0.3.5&s=7e6b68b1911fb4ffeea4c0750b8a5269&auto=format&fit=crop&w=720&q=80">
<img src="{% static 'main/images/gallery_5.jpg' %}" alt="https://unsplash.com/@deannaritchie">
</a>
</li>
<li class="gallery_item">
<a class="colorbox" href="../../photo-1504434026032-a7e440a30b68.jpeg?ixlib=rb-0.3.5&s=2cc35bf903b78ba4f7f7ed69bc2abe3f&auto=format&fit=crop&w=720&q=80">
<img src="{% static 'main/images/gallery_6.jpg' %}" alt="https://unsplash.com/@benobro">
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>

{% include 'main/footer.html' %}

<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'main/css/bootstrap4/popper.js' %}"></script>
<script src="{% static 'main/styles,_bootstrap4,_bootstrap.min.js plugins,_colorbox,_jquery.colorbox-min.js plugins,_parallax-js-master,_parallax.min.js js,_blog_custom.js.pagespeed.jc.f1fRsdtDfW.js' %}"></script><script>eval(mod_pagespeed_cVhDRfxhZX);</script>
<script>eval(mod_pagespeed_39NfV0gB0V);</script>
<script>eval(mod_pagespeed_YhrgB1nOgv);</script>
<script>eval(mod_pagespeed_wG0C18ZgQ3);</script>
<script defer="" src="../../beacon.min.js" data-cf-beacon='{"rayId":"698691d2cebb7a64","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.9.0","si":100}'></script>
</body>
</html>